<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3 style="margin-right:auto; margin-left: auto;">Neue Kategorie anlegen</h3>
<mat-form-field style="font-family: 'Poppins', sans-serif !important; " >
  <mat-label style="font-family: 'Poppins', sans-serif !important; ">Name der Kategorie</mat-label>
  <input matInput>
</mat-form-field>






<button [routerLink]="['/success-category']" mat-raised-button style="background-color: #0078d6; color:white; margin-right:auto; margin-left: auto; ">Kategorie anlegen</button>

<!--
<div style="width: 75%; margin-left: auto; margin-right: auto;">
<mat-icon [routerLink]="['/']" style="cursor:pointer; color:#0078d6; margin-top:0.6em;">arrow_back_ios</mat-icon>
</div>
-->